<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mybatis.config.UserDao">
    <select id="countAll" resultType="int">
        select count(*) from tb_id_user;
    </select>
    
    <select id="selectAll" resultType="com.mybatis.config.User">
        select * from tb_id_user order by userName asc
    </select>
    
    <insert id="insert" parameterType="com.mybatis.config.User">
    	<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
    		SELECT SEQ_ID_USER.NEXTVAL as id FROM DUAL
    	</selectKey>
        insert into tb_id_user(id,userName,password,age) values(#{id},#{userName},#{password},#{age})
    </insert>
    
    <update id="update" parameterType="com.mybatis.config.User">
        update tb_id_user set userName=#{userName},password=#{password},age=#{age} where userName=#{userName}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from tb_id_user where userName=#{userName}
    </delete>
    
    <select id="findByUserName" parameterType="String" resultType="com.mybatis.config.User">
        select * from tb_id_user where userName=#{userName}
    </select>
    <select id="testForeach" parameterType="List" resultType="com.mybatis.config.User">
    	select * from tb_id_user where userName in 
    	<foreach collection="nameList" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    	</foreach>
    </select>
</mapper>