<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.liu.demo.mybatis.UserDao">
    <cache/>

    <select id="countAll" resultType="int">
        select count(*)
        from test_user;
    </select>

    <select id="selectAll" resultType="org.liu.demo.mybatis.User">
        select *
        from test_user
        order by username asc
    </select>

    <insert id="insert" parameterType="org.liu.demo.mybatis.User">
        insert into test_user(username, password, age, enabled, gis, status)
        values (#{username}, #{password}, #{age}, #{enabled}, #{gis}, #{status})
    </insert>

    <update id="update" parameterType="org.liu.demo.mybatis.User">
        update test_user
        set username=#{username},
            password=#{password},
            age=#{age},
            enabled=#{enabled},
            gis=#{gis},
            status=#{status}
        where username = #{username}
    </update>

    <delete id="delete" parameterType="int">
        delete
        from test_user
        where username = #{username}
    </delete>

    <select id="findByUserName" parameterType="String" resultType="org.liu.demo.mybatis.User">
        select *
        from test_user
        where username = #{username}
    </select>

    <select id="testForeach" parameterType="map" resultType="org.liu.demo.mybatis.User">
        select * from test_user where username in
        <foreach collection="nameList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findById" resultType="org.liu.demo.mybatis.User" useCache="true">
        select *
        from test_user
        where id = #{id}
    </select>

    <select id="listByAge" resultType="org.liu.demo.mybatis.User">
        select * from test_user where age &gt;= #{age}
        <if test="null != page">
            limit #{page.size}
        </if>
    </select>
</mapper>